:root {
    --blue: #0f2c7c;
    --black: #000424;
    --dark-green: #0c741d;
    --mid-green: #00a958;
    --light-green: #00ee7c;
}

* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

body {
    background-color: var(--blue);
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 2px solid var(--mid-green);
    z-index: 1;
}

header h3 {
    margin-left: 2vw;
    font-family: "Oswald";
    display: inline;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 20.8px;
    padding: 0;
}

header h5 {
    position: absolute;
    right: 2vw;
    font-size: 25px;
    font-family: "Roboto Mono";
    width: 5ch;
    transition: width 1s ease;
    height: calc(4rem + 2px);
    display: flex;
    align-items: center;
}

nav {
    display: none;
    position: fixed;
    right: 0;
    top: 4rem;
    background-color: var(--dark-green);
    line-height: 1.5;
    width: 15vw;
    z-index: 1;
}

nav a {
    font-family: "Roboto Condensed";
    display: block;
    margin: 0 0.5em;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    color: var(--light-green);
}

main {
    background-color: var(--black);
}

#tcontainer {
    position: absolute;
    top: 10vh;
    width: 100%;
    scroll-margin-top: 4rem;
}

h2, h3 {
    text-align: center;
    padding: 2vh 0;
    font-family: "Roboto Mono";
    font-size: 35px;
}

h3 {
    font-size: 30px;
    padding-top: 0;
}

h4, label {
    color: var(--mid-green);
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 20px;
}

img[src*='Crypto'] {
    margin-top: 4rem;
    width: max(75vw,75vh);
    height: max(50vw,50vh);
}

form {
    display: grid;
    grid-template: 100% / 1fr 1fr;
}

#left {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 2px solid var(--dark-green);
}

#right {
    grid-area: 1 / 2 / 2 / 3;
    border-left: 2px solid var(--dark-green);
}

label {
    display: block;
    width: 80%;
    margin: 1.5rem auto 0.3rem;
    text-align: left;
}

input {
    color: var(--blue);
    display: block;
    width: 80%;
    height: 3rem;
    margin: 0 auto 1.5rem;
    font-size: 25px;
    font-family: "Roboto Condensed";
}

#rangecont {
    margin: 1rem auto 0.7rem;
    width: 80%;
    display: flex;
}

#rangecont h6 {
    flex-grow: 1;
    font-family: "Roboto Mono";
    color: var(--light-green);
}

#rmax {
    text-align: right;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 80%;
    height: 0.5rem;
    border-radius: 25%;
    margin: 0 auto;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: white;
    height: 0.5rem ;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: calc(0.25rem - 15px); 
    background-color: var(--light-green);
    height: 30px;
    width: 10px;    
 }

#generate {
    width: 30%;
    min-width: fit-content;
    margin: 3rem auto 2rem;
    height: 20%;
    font-family: "Roboto Mono";
    transition: color 1s ease;
    font-size: 20px;
    background-color: var(--blue);
    border: 4px solid var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

#generate:hover {
    color: var(--light-green);
}

#output {
    height: 3rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

#toggle {
    height: 100%;
    width: 20%;
    background-color: var(--blue);
    border: 3px solid var(--dark-green);
    border-right: 1.5px solid var(--dark-green) !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono";
}

#blocker {
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: rgba(27, 27, 27, 0.5);
}

span {
    display: inline-flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    border: 3px solid var(--dark-green);
    border-left: 1.5px solid var(--dark-green) !important;
    color: rgba(0, 0, 0, 0.3);
    font-family: "Roboto Condensed";
    background-color: white;
    font-size: 20px;
    white-space: nowrap;
    overflow-x: scroll;
}

.hidden {
    background-color: var(--light-green) !important;
}

article {
    margin-top: 4rem;
}

p {
    font-family: "Roboto Condensed";
    margin: 1rem 5rem;
    line-height: 1.5;
    font-size: 18px;
    color: var(--light-green);
}

footer {
    width: 100%;
    height: 4rem;
    background-color: var(--blue); 
    border-top: 3px solid var(--dark-green);
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

footer h5 {
    font-size: 15px;
    font-family: "Roboto Mono";
}

footer a {
    color: var(--light-green);
}

footer a:hover {
    text-decoration: underline;
}

#pGen {
    scroll-margin-top: 5rem;
}

@media only screen and (max-width: 1000px) {
    #tcontainer {
        position: static;
    }
}
